*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.back-video{
    z-index: -1;
    position: absolute;
    filter: blur(5px);
}

.content{
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    padding: 100px;
    background-color: rgba(31, 31, 31, 0.5);
}

.content h1{
    font-size: 4em;
    color: white;
}

.content p{
    font-size: 1em;
    color:gray;
}

@media (min-aspect-ratio: 16/9) {
.back-video {
    width: 100%;
    height: auto;
}
}
  
@media (max-aspect-ratio: 16/9) {
.back-video {
    width: auto;
    height: 100%;
}
}