//Colors
$light-red: rgb(139, 0, 0);
$red: rgb(97, 0, 0);
$dark-red: rgb(54, 0, 0);
$orange: rgb(168, 109, 0);
$white: rgb(250, 249, 246);
$gray: rgb(43, 43, 43);

//Font-Weights
$supa-bold: 900;
$bold: 700;
$thin: 400;

//Font-Sizes
$header: 2.4rem;
