@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
}

.container {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 4px 10px 0 rgba(196, 193, 193, 0.658);
}
.card-image {
  padding: 1.5rem;
}
.card-image img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 3rem;
  text-align: center;
  gap: 1.8rem;
}
.card-content h2 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 2.2rem;
}
.card-content p {
  font-size: var(--font-size);
  color: var(--grayish-blue);
  font-weight: 400;
  padding: 0 1.8rem 1rem;
}

.attribution {
  background-color: var(--grayish-blue);
  color: white;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  text-decoration: 0;
  color: var(--dark-blue);
}
