@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
}

header,
main {
  width: 100%;
}

nav {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  max-width: 140rem;
  margin: 0 auto;
}
nav > span {
  font-size: 3.2rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
}
nav .nav-menu {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  padding-left: 6rem;
  font-size: 1.5rem;
  gap: 4rem;
}
nav .nav-menu-button .dropdown {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  transition: all 0.5s ease;
  padding-top: 2rem;
  transform: translateX(-1.5rem);
}
nav .nav-menu-button .dropdown-content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  padding: 2rem;
  gap: 2rem;
  box-shadow: 1px 2px 20px 0 #d4d4d4;
  border-radius: 8%;
  justify-content: flex-start;
  align-items: flex-start;
}
nav .nav-menu-button .dropdown-content a {
  gap: 1.3rem;
}
nav .nav-menu-button .dropdown-content img {
  width: 1.6rem;
  height: 1.6rem;
}
nav .nav-menu-button a {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  color: hsl(0, 0%, 41%);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
nav .login-register {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-left: auto;
  gap: 1.5rem;
}
nav .login-register button {
  padding: 1rem 2rem;
  cursor: pointer;
}
nav .login-register button.border {
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 10px;
}
nav .login-register button.border:hover {
  border-color: hsl(0, 0%, 8%);
}
nav a:hover,
nav button:hover {
  color: hsl(0, 0%, 8%);
}

.nav-menu .nav-menu-button:hover > .dropdown,
.nav-menu .nav-menu-button:focus-within > .dropdown-content,
.nav-menu .nav-menu-button .dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.main-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  max-width: 111rem;
  margin: 0 auto;
  gap: 10rem;
}
.main-container-content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container-content h1 {
  font-size: 8rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
}
.main-container-content p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.main-container-content button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 10px;
  padding: 2rem 3.2rem;
  cursor: pointer;
  align-self: flex-start;
}
.main-container-content-partners {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: hsl(0, 0%, 41%);
  color: hsl(0, 0%, 98%);
  text-align: center;
  padding: 1.5rem;
}
footer a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: hsl(0, 0%, 8%);
}/*# sourceMappingURL=style.css.map */