@import 'reset';
@import 'mixers';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$white: hsl(0, 0%, 98%);
$gray: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 8%);

$font-weights: (
  'regular': 500,
  'bold': 700,
);

body {
  background-color: $white;
  font-family: 'Epilogue', sans-serif;
  font-weight: map-get($map: $font-weights, $key: 'regular');
  color: $gray;
}

header,
main {
  width: 100%;
}

nav {
  @include flex-row;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  max-width: 140rem;
  margin: 0 auto;

  > span {
    font-size: 3.2rem;
    font-weight: map-get($map: $font-weights, $key: 'bold');
    color: $black;
  }
  .nav-menu {
    @include flex-row;
    padding-left: 6rem;
    font-size: 1.5rem;
    gap: 4rem;
    &-button {
      .dropdown {
        visibility: hidden;
        opacity: 0;
        display: none;
        position: absolute;
        transition: all 0.5s ease;
        padding-top: 2rem;
        transform: translateX(-1.5rem);

        &-content {
          @include flex-column;
          background-color: $white;
          padding: 2rem;
          gap: 2rem;
          box-shadow: 1px 2px 20px 0 rgba($color: #d4d4d4, $alpha: 1);
          border-radius: 8%;
          justify-content: flex-start;
          align-items: flex-start;

          a {
            gap: 1.3rem;
          }
          img {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }
      a {
        @include flex-row;
        color: $gray;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
      &:hover{
        .hover_img{
          content: url(../images/icon-arrow-up.svg);
          color: $black;
          filter: brightness(0);
        }
      }
    }
  }
  .login-register {
    @include flex-row;
    margin-left: auto;
    gap: 1.5rem;
    button {
      padding: 1rem 2rem;
      cursor: pointer;
      &.border {
        border: 2px solid $gray;
        border-radius: 10px;
        &:hover {
          border-color: $black;
        }
      }
    }
  }
  a,
  button {
    &:hover {
      color: $black;
    }
  }
}
.nav-menu .nav-menu-button:hover > .dropdown,
.nav-menu .nav-menu-button:focus-within > .dropdown-content,
.nav-menu .nav-menu-button .dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.main-container {
  @include flex-row;
  max-width: 115rem;
  margin: 0 auto;
  padding-top: 7rem;
  gap: 13rem;

  &-content {
    @include flex-column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 6rem;
    h1 {
      font-size: 8rem;
      font-weight: map-get($map: $font-weights, $key: 'bold');
      color: $black;
    }
    p {
      font-size: 1.8rem;
      line-height: 1.4;
    }
    button {
      font-weight: map-get($map: $font-weights, $key: 'bold');
      background-color: $black;
      color: $white;

      border: 2px solid $black;
      border-radius: 10px;
      padding: 2rem 3.2rem;
      cursor: pointer;
      &:hover{
        background-color: $white;
        color: $black;
      }
    }
    &-partners {
      @include flex-row;
      align-items: center;
      gap: 4rem;
    }
  }
}

footer {
  background-color: $gray;
  color: $white;
  text-align: center;
  padding: 1.5rem;

  a {
    text-decoration: 0;
    color: $black;
  }
}

@media only screen and (max-width: 1100px){
  .main-container{
    flex-direction: column-reverse;
    &-content{
      align-items: center;
    }
    &-photo{
      content: url(../images/image-hero-mobile.png);
    }
  }

}