@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  @include flex-column;
  justify-content: center;
  background-color: rgb(53, 114, 247);
  color: white;
}

.container {
  @include flex-row;
  justify-content: center;
  gap: 4rem;
  font-weight: 500;
  div {
    @include flex-column;
    gap: 1rem;
    align-items: center;
    span {
      display: grid;
      place-content: center;
      width: 20rem;
      height: 10rem;
      border: 2px solid white;
      border-radius: 4px;
      font-size: 4.2rem;
    }
  }
}
