@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
main {
  font-family: 'Roboto', sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: darkgoldenrod;
  .container {
    @include flex-column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 10px;
    padding: 2rem;
    background-color: rgb(255, 247, 240);
    color: rgb(0, 15, 70);
    transition-property: height;
    transition: 0.6s ease-out;
    .hidden {
      display: none;
    }
  }
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}