.concept {
  padding: 20px;
  border-radius: 8px;
  background: linear-gradient(#250358, #440c66);
  box-shadow: 0 2px 20px rgba(234, 78, 240, 0.2);
}

.concept:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
}

.concept .item {
  gap: 20px;
}
