@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.header {
  background-color: $red;
  color: $white;
  position: sticky;
  top: 0;
  padding: 1.5rem 2rem;

  h1 {
    font-size: $header;
    font-weight: $bold;
  }
  &-container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }
}
