@import 'tailwindcss';

body {
  /* background-color: #fd2c2a; */
  background-color: white;
  overflow-x: hidden;
}

canvas {
  pointer-events: none;
}

span.growing {
  background-color: #fd2c2a;
}
