* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  color: white;
  overflow-x: hidden;
  opacity: 0;
}

.circle {
  position: fixed;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #029999;
  top: 50%;
}

.hero {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animationWrapper {
  display: flex;
  align-items: center;
  opacity: 0;
}

.logo img {
  width: 100px;
}

.words {
  display: grid;
  width: 400px;
  margin-left: 20px;
}

.words > * {
  grid-area: 1 / 1;
}

.rotator {
  display: grid;
  width: 400px;
}

.rotator > * {
  grid-area: 1 / 1;
}

.rotator h1 {
  display: flex;
  align-items: center;
  font-size: 2em;
  line-height: 1em;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.moreContent {
  display: none;
  padding: 50px;
  color: black;
  background: white;
}
