// Colors
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$dark-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-black-blue: hsl(234, 17%, 12%);

// Font Sizes
$font-sm: 1.4rem;
$font-med: 1.8rem; 
$font-lg: 2rem;
$font-xlg: 5.2rem;

// Font Weights
$bold-weight: 700;