@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

@mixin crossBrowser($property, $val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@mixin flex-row {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
}
