$main-background: --main-background;
$toggle-keypad-background: --toggle-keypad-background;
$screen-background: --screen-background;
$key-background-func: --key-background-func;
$key-background-equal: --key-background-equal;
$key-background: --key-background;
$key-shadow-func: --key-shadow-func;
$key-shadow-equal: --key-shadow-secondary;
$key-shadow: --key-shadow;
$text-very-dark: --text-very-dark;
$text-white: --text-white;