header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 101;

  .overlay{
    @include overlay;
    top: 6rem;
    display: none;
    @include breakpoint-down('small'){
      &.active{
      display: block;
    }
    }
  }

  .header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    &-logo {
      img {
        min-width: 100%;
        max-width: unset;
      }
    }
    &-links {
      ul {
        @include flex-row;
        gap: 3rem;
        font-size: $font-sm;
        a {
          position: relative;
          color: $grayish-blue;
          font-weight: $regular-weight;
          &:hover {
            &::before {
              opacity: 1;
            }
          }
          &::before {
            content: '';
            display: block;
            position: absolute;
            height: 5px;
            left: 0;
            right: 0;
            bottom: -3.4rem;
            background: linear-gradient(90deg, $lime-green, $bright-cyan);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
          }
        }
      }
    }
    &-button {
      @extend .gradient-button;
    }
    &-menu{
      display: none;
    }

    @include breakpoint-down('small') {
      &-button {
        display: none;
      }
      &-menu{
        display: block;
        &.active{
          img{
            content: url(/images/icon-close.svg);
          }
        }
      }
      &-links {
        display: none;
        position: absolute;
        left: 3rem;
        right: 3rem;
        top: 9rem;

        ul {
          position: relative;
          background-color: $white;
          padding: 4rem;
          border-radius: 5px;
          flex-direction: column;
          gap: 1rem;
          li {
            align-self: center;
            a {
              color: $dark-blue;
              font-weight: $bold-weight;
              font-size: $font-med;
              &::before {
                bottom: -0.5rem;
              }
            }
          }
        }
        &.active{
          display: block;
        }
      }
    }
  }
}
