.hero-div {
  background-color: $very-light-gray;
}

.hero {
  @include flex-row;
  align-items: center;
  &-content {
    @include flex-column;
    flex: 2;
    order: 1;
    gap: 2rem;
    padding: 10rem 0;
    button {
      @extend .gradient-button;
      align-self: flex-start;
    }
  }
  &-image {
    flex: 3;
    order: 2;
    height: 65.6rem;
    background-image: none;
  }
}
