body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1f5fe;
}

.banner {
  background: white;
  position: relative;
  width: 300px;
  height: 250px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('https://assets.codepen.io/32887/pexels-asad-photo-maldives-1320674.jpg');
  background-size: cover;
}

.cta {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  padding: 18px;
  border-radius: 12px;
  background-color: #43a047;
  color: white;
  font-size: 20px;
  transform: scale(0.8);
  will-change: transform;
}

h2 {
  font-weight: 800;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 3px #333;
}

h2 span {
  font-size: 40px;
}
