@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
